{% extends "layout.html" %}

{% block table %}
    <h2 class="align">
        Balance
    </h2>
    <br>

    {% if balance %}
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Location</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for b in balance %}
                    <tr>
                        <td> {{ b[0] }}</td>
                        <td> {{ b[1] }}</td>
                        <td> {{ b[2] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No products yet.</p>
    {% endif %}
{% endblock table %}