{% extends "layout.html" %}

{% block main %}
    <h2 class="align">
        Balance
    </h2>
    <br>

    {% if balance %}
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Location</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for b in balance %}
                    {% if b.location != "None" %}
                        <tr>
                            <td>{{b.product}}</td>
                            <td>{{b.location}}</td>
                            <td>{{b.balance}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No products yet.</p>
    {% endif %}
{% endblock %}