{% extends "layout.html" %}

{% block form %}
    <div class="align">
        <h2>
            Locations
        </h2>
        <form action="" method="POST">
            {{ form.csrf_token }}
            {{ form.location.label }}
            {{ form.location }}
            {% if edit_button %}
                <input type="submit" value="Edit Location">
            {% else %}
                {{ form.add_location }}  
            {% endif %}              
        </form>
    </div>
    <br><br>

{% endblock form %}
        
{% block table %}
    {% if locations %}
        <table>
            <thead>
                <tr>
                    <th>Locations</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                    {% if location.name != "None" %}
                    <tr>
                        <td>
                            {{ location.name }} 
                            <a class="edit-delete" href="{{ url_for('edit_location', location_id=location.id) }}">Edit</a>
                            <a class="edit-delete open-modal" href="{{ url_for('delete_location', location_id=location.id) }}">Delete</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock table %}