{% extends "layout.html" %}

{% block main %}
    <h2>
        Product Movements
    </h2>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.product.label }}
        {{ form.product }}
        {{ form.from_location.label }}
        {{ form.from_location }}
        {{ form.to_location.label }}
        {{ form.to_location }}
        {{ form.quantity.label }}
        {{ form.quantity }}
        {% if edit_button %}
            <input type="submit" value="Edit Movement">
        {% else %}
            {{ form.add_movement }}
        {% endif %}
    </form>

    <br><br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %} 

    {% if movements %}
        <table>
            <thead>
                <tr id="tableName">
                    <th colspan="4">Product Movements</th>
                </tr>
                <tr>
                    <th>Product</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for movement in movements %}
                    <tr>
                        <td> {{ movement.product }} </td>
                        <td> {{ movement.from_location }} </td>
                        <td> {{ movement.to_location }} </td>
                        <td> {{ movement.quantity }} <a class="editLink" href="{{ url_for('edit_movement', movement_id=movement.id) }}">Edit</a><a class="editLink" href="{{ url_for('delete_movement', movement_id=movement.id) }}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}