{% extends "layout.html" %}

{% block form %}
    <div class = "align">
        <h2>
            Products
        </h2>
        <form action="" method="POST">
            {{ form.csrf_token }}
            {{ form.product.label }}
            {{ form.product }}
            {% if edit_button %}
                <input type="submit" value="Edit Product">
            {% else %}
                {{ form.add_product }}
            {% endif %}
        </form>
    </div>

    <br><br>

{% endblock form %}

{% block table %}
    {% if products %}
        <table>
            <thead>
                <tr>
                    <th>Products</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            {{ product.name }} 
                            <a class="edit-delete" href="{{ url_for('edit_product', product_id=product.id) }}">Edit</a>
                            <a class="edit-delete open-modal" href="{{ url_for('delete_product', product_id=product.id) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
